@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

h2 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.box-input {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.input_row {
text-align: center;
}
h3 {
    text-align: center;
}
.servise__list__row {
    display: flex;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.row_price {
    padding: 0px 15px;
}
.btn_box {
    padding-top: 10px;
}
.material-icons {
    cursor: pointer;
}
.list_container {
    text-align: center;
}